<launch>
 <!-- Load parameters from yaml file -->
 <rosparam file="$(find parallel_planning_3d)/configs/map.yaml" command="load"/>
 <!-- Start the planning node -->
 <node name="a_stara_star_3d_parallel_3d" pkg="parallel_planning_3d" type="a_star_3d_parallel" output="screen" required="true">
 </node>

<!-- Start the map publishing node -->
 <node name="map_publisher" pkg="parallel_planning_3d" type="mappublish.py" output="screen">
 </node>

<!-- Start RVIZ for visualization -->
<!-- 在rviz中显示-->
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find parallel_planning_3d)/configs/3d_planning_visualization.rviz" required="true" />


</launch>